### This file is now obsolete.....
#
# This project has been converted to structured settings
#
# refer to ./preset/example_sqlite.py
#
# move the things which were in your local_settings.py to ./preset

# postgres
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'aklogbook',
        'USER': 'aklogbook',
        'PASSWORD': '',
    }
}

ENKETO_URL = 'http://enketo/' # TODO
ENKETO_API_INSTANCE_IFRAME_URL = "https://enketo/api_v1/instance/iframe"
ENKETO_API_TOKEN = "abcde"

MONGO_DATABASE = {
    'HOST': 'localhost',
    'PORT': 27017,
    'NAME': 'aklogbook',
    'USER': '',
    'PASSWORD': ''
}


# Make a unique unique key just for testing, and don't share it with anybody.
SECRET_KEY = ''

